/**********************
* MEDIA
**********************/
@media only screen and (max-width : 1500px) {
   .main_projects div {
      width: 340px;
      height: 170px;
      margin: 7px 5px;
   }
   .main_projects {
      width: 1050px;
      padding: 30px 40px;
   }
   footer div {
      padding: 0;
      width: 360px;
   }
   h2 {
      font-size: 16px;
   }
   p {
      font-size: 25px;
   }
   footer p {
      font-size: 12px;
   }
   h1 {
      font-size: 45px;
   }
   .header_main h1::after {
      width: 250px;
      height: 1px;
      margin: 15px auto;
      margin-top: 10px;
   }
   footer i {
      font-size: 20px;
      padding: 0 15px;
   }
   main {
      padding: 50px 30px;
   }
   .header_follow-down {
      font-size: 25px;
   }
   footer .contacts a {
    padding-top: 3px;
   }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
   .main_projects {
      width: 780px;
   }
   .main_projects div {
      width: 380px;
      height: 190px;
      margin: 5px 5px;
   }
   footer div {
      padding: 0;
      width: 300px;
   }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main_projects div {
      width: 300px;
      height: 150px;
      margin: 5px 5px;
   }
   .main_projects {
      width: 620px;
   }
   main {
      padding: 30px;
   }
   footer div:first-child {
      display: none;
   }  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   .main_projects div{
      width:400px;
      height: 200px;
   }
   .main_projects {
      width: 410px;
   }
   h2 {
      font-size: 14px;
   }
   footer div {
      width: 260px;
   }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 585px) {
   .main_projects div{
      width:300px;
      height: 150px;
   }
   .main_projects {
      width: 310px;
      padding: 15px 20px;
   }
   p {
      font-size: 20px;
   }
   h1 {
      font-size: 35px;
   }
   h2{
      padding-bottom: 2px;
   }
   footer h2::after {
      width: 110px;
      height: 1px;
      margin: 5px auto;
   }
   footer {
      padding:20px;
      flex-wrap:wrap-reverse;
   }
   footer h2::after{
      width: 0;
   }
   .contacts h2{
      display: none;
   }
   footer i {
      font-size: 15px;
      padding: 0 8px;
   }
}
@media only screen and (max-width : 420px) {
   main {
    padding: 20px;
   }
   .main_projects div {
      width: 270px;
      height: 135px;
   }
   .main_projects {
      width: 280px;
      padding: 15px 20px;
      margin: 20px auto;
   }
}
@media only screen and (max-width : 355px){
   .main_projects div {
      width: 230px;
      height: 135px;
   }
   .main_projects {
      width: 240px;
   }
}


