/**********************
* typography
**********************/
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  font-weight: 400;
  
}

h1 {
  visibility: hidden;
}

h2 {
  font-size: 25px;
  color:#fff;
}

h3 {
  
}

h4 {
  
}

h5 {
  font-size: 25px;
  color:#fff;
}

h6 {
  font-size: 25px;
}

p {
  
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  
}
li{
  list-style-type:none;
}