/**********************
* typography
**********************/
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  font-weight: 400;
	font-family: 'PT sans', sans-serif;
}

h1 {
  
}

h2 {
  font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	word-spacing: 0.3em;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 25px;
	color: #353738;
}

h3 {
  
}

h4 {
  
}

h5 {
  
}

h6 {
  
}

p {
  color: #848789;
  font-size: 16px;
	word-spacing: 0.1em;
	line-height: 2em;
}
ul{
	margin:0;
}  
a, li {
  display: inline-block;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
  
}