*{
  font-family: 'Sarabun', sans-serif;
}
//----------body---------------
body{
  background:
    linear-gradient(135deg, hsla(179.45, 95.45%, 47.36%, 1) 0%, hsla(179.45, 95.45%, 47.36%, 0) 70%),
    linear-gradient(25deg, hsla(299.28, 99.84%, 45.65%, 1) 10%, hsla(299.28, 99.84%, 45.65%, 0) 80%),
    linear-gradient(315deg, hsla(193.43, 91.03%, 42.08%, 1) 15%, hsla(193.43, 91.03%, 42.08%, 0) 80%),
    linear-gradient(245deg, hsla(67.66, 99.02%, 41.27%, 1) 100%, hsla(67.66, 99.02%, 41.27%, 0) 70%);
  background-attachment: fixed;
  position:relative;
  overflow: hidden;
}
.body_hidden{
  overflow: auto;
}
.bottom-line2{
  width: 100%;
  height: 3px;
  position:fixed;
  top:95%;
  z-index: -20;
  background-image: linear-gradient(90deg, #e1f549, #29d0be, #6cb8ea, #ff5959, #6cb8ea, #29d0be, #e1f549);
  animation: bottom-line 12s infinite;
  transition: all 0.25s;
  background-size: 200%;
  transform: translateY(35px);
}
.bottom-line{
  width: 100%;
  height: 1px;
  position:fixed;
  top:94%;
  z-index: -20;
  background-image: linear-gradient(90deg, #e1f549, #29d0be, #6cb8ea, #ff5959, #6cb8ea, #29d0be, #e1f549);
  animation: bottom-line 6s infinite;
  transition: all 0.25s;
  background-size: 200%;
  transform: translateY(20px);
}
@keyframes bottom-line{
  0% {
    
    background-position: 0 0;
  }
  25%{
    transform: translateY(0);
  }
  75{
    transform: translateY(-10px);
  }
  100% {
    
    background-position: 200% 0;
  }
}
//---------main---------------
main{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}
//-----main_information------------
.main_information{
  label{
    padding:15px;
    border-radius: 0 10px 10px 0;
    background-color: rgba(255, 255, 255, 0.18);
    position: absolute;
    top:30px;
    left:0px;
    width: 250px;
    height: 50px;
    box-sizing: border-box;
    font-size: 18px;
    color:#fff;
    text-align: center;
    cursor: pointer;
  }
  .information{
    position:absolute;
    width: 250px;
    height: auto;
    top: 90px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 0 20px 20px 0;
    transform: translateX(-100%);
    transition: 0.5s;
    text-align: right;
    padding:20px 70px;
    box-sizing: border-box;
  }
  .sub-menu a{
    color:#94029a;
    font-size: 15px;
    transition: .5s;
  }
  .sub-menu a:hover{
    color:#ffffff;
    font-size: 15px;
  }
  .sub-menu li{
    margin:10px 0;
    padding-right: 20px;
  }
  .sub-menu{
    height: 0;
    overflow: hidden;
    transition: .5s;
  }
  .sub-menu-see{
    height: auto;
  }
  li{
    font-size: 18px;
    color:#fff;
    margin-top:8px;
    margin-bottom:8px;
    cursor: pointer;
  }
}
#check-information:checked ~.information{
  transform: translateX(0);
}
//--------tittle--------------
.main_title{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 30%;
  #hello path{
    stroke:#f500ff;
    fill:#fff;
    stroke-dasharray:3400;
    opacity: 0;
  }
  #i-am path{
    stroke:#00e2ff;
    fill:#fff;
    stroke-dasharray:1200;
    opacity: 0;
  }
}
.amimation_hello{
  animation-name:hello;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0,0.23,1,.1);
  animation-delay: 0.3s;  
  animation-fill-mode:forwards;
}
.amimation_i-am{
  animation-name: i-am;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.61,-0.02,.49,.95);
  animation-delay: 3s; 
  animation-fill-mode:forwards;
}
@keyframes i-am{
  0%{
    opacity: 0;
    fill:none;
    stroke-dashoffset:1200;
  }
  30%{
    opacity: 10;
    fill:none;
    stroke-dashoffset:1200;
  }
  90%{
    fill:rgba(255, 255, 255, 0);
  }
  100%{
    opacity: 10;
    fill:#fff;
    stroke-dashoffset:0;
  }
}
@keyframes hello{
  0%{
    opacity: 0;
    fill:none;
    stroke-dashoffset:3400;
  }
  30%{
    opacity: 10;
    fill:none;
    stroke-dashoffset:3400;
  }
  90%{
    fill:rgba(255, 255, 255, 0);
  }
  100%{
    opacity: 10;
    fill:#fff;
    stroke-dashoffset:0;
  }
}
//----------burger---------
.main_menu{
  position: absolute;
  display: inline-block;
  top:30px;
  right: 30px;
  .wrapper{
    width: 320px;
    height: 50px;
    position:relative;
    color:#fff;
    text-align:center;
  }
}
main input{
  display: none;
}
.main_menu label{
  display: block;
  position: absolute;
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.18);
}
.burger-line{
  position: absolute;
  top: 14px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}
.burger-line2, .burger-line3{
  top:24px;
}
.burger-line4{
  top:34px;
}
.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  overflow: hidden;
  transition: .3s;
}
.wrapper a{
  display: block;
  width: 100%;
  padding: 20px;
  padding-left:50px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.18);
  transition: .4s ease-in-out;
}
.wrapper i{
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: .1s ;
}
.wrapper a div{
  display: block;
  border-radius: 50%;
  width: 200px;
  margin:0 auto;
  overflow: hidden;
  margin-bottom:10px;
}
.wrapper a img{
  transition: .7s;
}
.wrapper a:hover i{
  color:#7000d1;
  background-color: rgba(255, 255, 255, 0.4);
  
}
.wrapper a:hover{
  color:#9df4ff;
}
.wrapper a:first-child{
  padding: 20px;
  text-align: center;
}
.wrapper a:first-child:hover img{
  transform: scale(1.2) rotate(4deg);
}
.wrapper a:first-child:hover{
  color:#fff;
}
.wrapper a:last-child{
  border-radius: 0px 0px 10px 10px;
}
#check-menu:checked ~ .main-menu{
  max-height: 1500px;
}
#check-menu:checked ~ .burger-line1{
  display: none;
}
#check-menu:checked ~ .burger-line2{
  transform: rotate(45deg);
  background-color:#7000d1;
}
#check-menu:checked ~ .burger-line3{
  transform: rotate(-45deg);
  background-color:#7000d1;
}
#check-menu:checked ~ .burger-line4{
  display: none;
}
#check-menu:checked ~ label{
  border-radius:10px 10px 0px 0px;
}
//---------------aside-----------------
aside{
  width: 50%;
  height: 120px;
  box-sizing: border-box;
  overflow: hidden;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:20px;
  background-color: rgba(255, 255, 255, 0.51);
  margin-bottom:20px;
  position:relative;
  color:#fff;
  a{
    position:absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    transition: .4s;
    color:#7000d1;
  }
}
aside a:hover{
  background-color:#7000d1;
  color:#fff;
}
//---------------footer----------------
footer{
  width: 75%;
  height: auto;
  margin:0 auto;
  padding:30px 50px;
  margin-bottom:50px;
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 210px 130px 130px 210px;
  grid-template-areas: "block1 block1 block2"
    "block1 block1 block3"
    "block4 block5 block3"
    "block4 block5 block6";
} 
footer a{
  border: 1px solid #fff;
  padding:5px 20px;
  margin-top:10px;
  font-size: 18px;
  color:#fff;
}
.block{
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position:relative;  
  text-align: center;
}
.border{
  h5{
    transition: 0.2s;
    transform: translateY(20px);
  }
  a{
    transition: 0.2s;
    z-index: 2;
    opacity: 0;
    transform: translateY(-10px);
    background-color: rgba(0, 0, 0, 0.38);
  }
}
.border::before{
  content: "";
  position:absolute;
  top:5%;
  left:5%;
  bottom:5%;
  right:5%;
  border-top:1px solid #FFF; 
  border-bottom:1px solid #FFF;
  transition: 0.2s;
  transform: scaleX(0);
}
.border::after{
  content: "";
  position:absolute;
  top:5%;
  left:5%;
  bottom:5%;
  right:5%;
  border-left:1px solid #FFF; 
  border-right:1px solid #FFF;
  transition: 0.2s;
  transform: scaleY(0);
}
.border:hover:before,
.border:hover:after{
  transform: scale(1);
}
.border:hover a{
  opacity: 1;
  transform: translateY(0);
}
.border:hover h5{
  transform: translateY(0);
}
.card{
  perspective: 1200px;
}
.front, .back{
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  transition: 0.4s;
  backface-visibility: hidden;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  a{
     background-color: rgba(0, 0, 0, 0.38);
  }
}
.front{
  background-color:#fff;
}
.back{
  transform:rotateY(180deg);
}
.back_border{
  position: absolute;
  top:15px;
  left: 25px;
  right: 25px;
  bottom: 15px;
  border:1px solid #fff;
  z-index: -1;
}
.card:hover .front{
  transform:rotateY(180deg);
}
.card:hover .back{
  transform:rotateY(360deg);
}
.block1{
  grid-area: block1;
  background-image: url(../img/XXL.jpg);
}
.block2{
  grid-area: block2;
  background-image: url(../img/rankre.jpg);
}
.block3{
  grid-area: block3;
  .front{
    background-image: url(../img/branding2.jpg);
  }
  .back{
    background-image: url(../img/branding.jpg);
  }
}
.block4{
  grid-area: block4;
  .front{
    background-image: url(../img/Tick.png);
  }
  .back{
    background-image: url(../img/Tick2.png);
  }
}
.block5{
  grid-area: block5;
  .front{
    background-image: url(../img/restaran.jpg);
  }
  .back{
    background-image: url(../img/restaran2.jpg);
  }
}
.block6{
  grid-area: block6;
  background-image: url(../img/Velo.jpg);
}
//---popup my_big_foto------------
#my_big_foto{
  width: 540px;
  height: 600px;
  border-radius: 40px;
  z-index: 100;
  position:fixed;
  display: none;
  opacity: 1;
  top:50%;
  left:50%;
  background-color: rgba(240, 248, 255, 0);
  transform: translate(-50%, -50%);
  overflow: hidden;
  div{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0);
  }
}
#close_foto{
  display: block;
  position: absolute;
  top:15px;
  right: 15px;
  font-size: 30px;
  color:#7000d1;
  opacity: 0;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.88);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
#big_foto{
  opacity: 0;
  height: 100%;
  width: 100%;
}
//--------preloader----------
.preloader{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b9ffff;
  z-index: 200;
  transition: .7s all;
  opacity:1;
  visibility: visible;
  .loader{
    width: 50px;
    height: 50px;
    border: 8px solid #fff;
    border-radius: 50%;
    border-top-color: blueviolet;
    left:50%;
    top:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    animation:1s preloader infinite linear;
  }
}
.done{
    opacity:0;
    visibility: hidden;
  }
@keyframes preloader{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

































//выф