.header_slides{
    list-style:none;
    margin:0;
    padding:0;
    z-index:-2; 
    background:#000;}
.header_slides,
.header_slides:after{
    position: absolute;
    width:100%;
    height:100%;
    min-height: 300px;
    top:0px;
    left:0px;}
.header_slides:after { 
    content: '';
    background: transparent url(../img/pattern.png) repeat top left;}
.header_slides li{
    width:100%;
    height:100%;
    min-height: 300px;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:none;
    opacity:0;
    -webkit-animation: anim_slides 12s linear infinite 0s;
    -moz-animation: anim_slides 12s linear infinite 0s;
    -o-animation: anim_slides 12s linear infinite 0s;
    -ms-animation: anim_slides 12s linear infinite 0s;
    animation: anim_slides 12s linear infinite 0s;
}
.header_slides li:nth-child(1){
   background-image: url('../img/HeaderImg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.header_slides li:nth-child(2){
-webkit-animation-delay: 6.0s;
-moz-animation-delay: 6.0s;
   background-image: url(../img/Header%20Img2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
@-webkit-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
@-moz-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}