/**********************
* MEDIA
**********************/
@media only screen and (max-width : 1600px) {
   section.why_about {
       padding: 55px 30px;
   }
   section.jobs_about {
      padding: 50px 30px 50px 60px;
   }
   section.plus_andorra, section.plus_kipr, section.plus_span, section.plus_malta {
      padding: 65px 50px;
   }
   section.people_span .people_span_line{
      margin: 100px 75px 0 75px;
   }
section.number1_our{
   span{
      right:7%;
   }
}
section.number2_our{
   span{
      left:7%;
   }
}
section.number3_our{
   span{
      right:7%;
   }
}
section.number4_our{
   span{
      left:7%;
   }
}
section.number5_our{
   span{
      right:7%;
   }
}
}
@media only screen and (max-width : 1300px) {
   .pmg_one, .pmg_two {
      width: auto;
   }
   .how_item-five {
    width: auto;
   }
   section.pmg_malta .pmg_malta_container .pmg_two {
    width: 580px;
   }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1000px) {
   .how_line{
      display: none;
   }   
   .how_item-one_main{
      padding-left:40px;
   }
   .how_item-two_main{
      padding-right:40px;
      display: flex;
      flex-direction:column;
      justify-content:flex-end;
   }
   .how_item-four {
    width: auto;
   }    
   header .header_nav ul li {
      font-family: 'Conv_GraphikLightCyGrWeb';
      display: inline-block;
      padding-bottom: 5px;
      margin: 15px 10px 15px 10px;
   }
   section.helps{
      padding: 50px 25px 50px 25px;
   }
   .owl-nav .owl-next {
    right: 0;
   }
   .owl-nav .owl-prev {
    left: 0;
   }
   footer {
      padding:30px 30px;
   }
   footer div {
    padding: 10px 40px;
   }
   section.know_you_kipr p, section.know_you_malta p, section.know_you_malta2 p, section.know_you_span p{
      width: auto;
   }
   section.know_you_span p:nth-child(5){
      display: none;
   }
   section.people_span .people_span_line{
      display: none;
   }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
   footer>div:nth-child(2){
      display: none;
   }
   footer{
      justify-content: center;
   }
   section.section_our .number_our_container{
      justify-content: center;
   }
   section.people_span .people_span_item {
    padding: 40px 20px 0 20px;
   }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
   .how_noll{
      display: none;
   }
   .how_item-two_number,.how_item-one_number{
      display: none;
   }
   .how_item-one_main,.how_item-two_main{
      text-align: center;
      padding:0;
      width: auto;
   }
   .pmg_andorra_main, .pmg_two .pmg_andorra_main{
      width: auto;
   }
   section.contacts .contacts_form input {
      width: 150px;
      margin-right: 0;
   }
   section.contacts .contacts_form a span {
    padding-left: 8px;
    padding-right: 8px;
   }
   section.contacts .contacts_form div{
      text-align: center;
   }
   section.contacts .contacts_form div{
     padding: 15px 0 0 0;
   }
   div.helps {
    text-align: center;
    padding: 30px 20px;
   }
   div.helps h1 {
    padding-bottom: 25px;
   }
   section.know_you span{
      width: auto;
   }
   header .header_main_bg h1 {
    padding: 80px 30px 0 30px;
   }
   .pmg_andorra_main, .pmg_main{
      width: auto;
   }
   section.know_you_span h3::after, section.know_you_kipr h3::after, section.know_you_malta h3::after, section.know_you_malta2 h3::after {
    width: 200px;
   }
   section.plus_andorra, section.plus_kipr, section.plus_span, section.plus_malta {
    padding: 45px 5px;
   }
   section.pmg_malta{
      padding:50px 15px 0 15px;
   }
   p.pmg_andorra_text2 {
    width: 270px;
   }
   section.people .people_container_info {
    width: auto;
    padding-left: 20px;
   }
   section.why_about {
    padding: 55px 20px;
   }
   section.why_about .why_about_container div{
      padding: 30px 0px;
   }

}


@media only screen and (max-width : 400px) {

}