<main class="main_form">
  <form name="formAddCar" novalidate >
    <label>
      <span>Brand*</span>
      <input type="text" ng-model="modalCtrl.newCar.brand" required placeholder="Enter the Brand">
    </label>
    <label>
      <span>Model*</span>
      <input type="text" ng-model="modalCtrl.newCar.model" required placeholder="Enter the Model">
    </label>
    <label>
      <span>Fuel*</span>
      <input type="text" ng-model="modalCtrl.newCar.fuel" required placeholder="Enter the Fuel">
    </label>
    <label>
      <span>Color*</span>
      <input type="text" ng-model="modalCtrl.newCar.color" required placeholder="Enter the Color"> 
    </label>
    <label>
      <span>Comments</span>
      <textarea type="text" ng-model="modalCtrl.newCar.comments" placeholder="Enter the Comments"></textarea>
    </label>
    <label>
      <span>Price*</span>
      <input type="number" ng-model="modalCtrl.newCar.price" required placeholder="Enter the Price">
    </label>
    <button type="submit" ng-disabled="formAddCar.$invalid"ng-click="modalCtrl.save(modalCtrl.newCar)" >Save</button>
    <button ng-click="modalCtrl.closeForm()">Cancel</button>
  </form>
</main>